/* Open Sans Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary: #1a2a80;
  --secondary: #3b38a0;
  --tertiary: #b2b0e8;
  --bg-color: #7a85c1;
  --title-font-size: 3rem;
  --text-font-size: 1.5rem;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 40px;
  overflow: hidden;
}
