/* Open Sans Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --title-color: rgb(240, 5, 166);
  --text-color: rgb(160, 180, 250);
  --bg-color: rgb(1, 7, 29);
  --title-font-size: 3rem;
  --text-font-size: 1.5rem;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 40px;
}
