/* Open Sans Font */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --primary: rgb(240, 179, 221);
  --secondary: rgb(198, 27, 104);
  --tertiary: rgb(2, 16, 32);
  --bg-color: rgb(1, 7, 29);
  --title-font-size: 3rem;
  --text-font-size: 1.5rem;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  user-select: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 40px;
  overflow: hidden;
}
